<% layout('layout/boilerplate') %>

<!-- <style>
    .displaycard:hover {
        border-style: solid;
        border-width: 1.5px;
        border-color: rgb(172, 166, 166);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    a:link {
        text-decoration: none;
    }
</style> -->




    <% if(currentUser !==undefined) {%>
        <a href="/addPlace">Add a place</a>
        <br>
        <br>
        <a href="/auth/logout">Logout</a>
        <br>
        <br>
        <% }else{ %>
            <a href="/auth/google">Login</a>
            <br>
            <br>
            <% } %>





            




                <% if(all.length==0){ %>
                    <h2>NOTHING TO DISPLAY</h2>
                    <% }else{ %>
                        <% for(let c of all){ %>

                            <%# for(let img of c.images){ %>
                                <!-- <img src="<%#= img.url%>" alt="No pic" width="100px" height="100px"> -->
                                <%# } %>

                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <% c.images.forEach((img, i)=> { %>
                                                <div class="carousel-item <%= i=== 0 ? 'active' : ''%>">
                                                    <img src="<%= img.url %>" class="d-block" alt="" width="200px"
                                                        height="200px">
                                                </div>
                                                <% }) %>
                                        </div>
                                        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button> -->
                                    </div>






                                    Name: <%= c.name %>
                                        <br>
                                        Location: <%= c.location %>
                                            <br>
                                            <a href="/show/<%= c.id %>">View</a>
                                            <br>
                                            <br>
                                            <% } %>
                                                <% } %>



                                             